In [2]:
import os
import pandas as pd
import numpy as np
from datetime import datetime
from scipy import stats
import matplotlib
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

%matplotlib inline
cwd = os.getcwd()
print("Current working directory: {0}".format(cwd))

Current working directory: /Users/chereowang27/NYCDSA/Machine_Learning_I/Machine_Learning_Project/Ames_Housing_ML

In [3]:
HP1 = pd.read_csv("./data/HP1.csv", index_col = [0])
HP2 = pd.read_csv("./data/HP2.csv")
HP3 = pd.read_csv("./data/HP3.csv",index_col = [0])
HP4 = pd.read_csv("./data/HP4.csv",index_col = [0])
HP5 = pd.read_csv("./data/HP5.csv")
print(HP1.shape)
print(HP2.shape)
print(HP3.shape)
print(HP4.shape)
print(HP5.shape)

HP_geo = pd.concat([HP1, HP2, HP3, HP4, HP5], axis = 0)
rowIndex = list(range(2624))
HP_geo = HP_geo.set_index([pd.Index(rowIndex)])

(500, 3)
(500, 3)
(500, 3)
(500, 3)
(624, 3)

In [4]:
HP_geo.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            2614, 2615, 2616, 2617, 2618, 2619, 2620, 2621, 2622, 2623],
           dtype='int64', length=2624)

In [248]:
HousePrice1 = pd.read_csv("./data/HousePrice1.csv",index_col = [0])
rowIndex = list(range(2624))
HousePrice1 = HousePrice1.set_index([pd.Index(rowIndex)])
HousePrice1.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            2614, 2615, 2616, 2617, 2618, 2619, 2620, 2621, 2622, 2623],
           dtype='int64', length=2624)

In [252]:
HousePrice2 = pd.concat([HP_geo, HousePrice1], axis = 1)
HousePrice2.to_csv("./data/HousePrice2.csv")
HousePrice2.head()

,address,latitude,longitude,MapRefNo,Prop_Addr,Unnamed: 0.1,PID,GrLivArea,SalePrice,MSSubClass,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,"436, Hayward Avenue, Campustown, Ames, Story C...",42.018564,-93.651619,909176150.0,436 HAYWARD AVE,1,909176150,856,126000,30,...,0,0,0,166,0,0,3,2010,WD,Normal
1,"3416, West Street, Union Drive, Ames, Story Co...",42.024855,-93.663671,905476230.0,3416 WEST ST,2,905476230,1049,139500,120,...,105,0,0,0,0,0,2,2009,WD,Normal
2,"3416, West Street, Union Drive, Ames, Story Co...",42.024855,-93.663671,905476230.0,3416 WEST ST,2,905476230,1049,139500,120,...,105,0,0,0,0,0,2,2009,WD,Normal
3,"320, South 2nd Street, Ames, Story County, Iow...",42.021548,-93.614068,911128020.0,320 S 2ND ST,3,911128020,1001,124900,30,...,0,42,86,0,0,0,11,2007,WD,Normal
4,"1524, Douglas Avenue, Broadmoor, Ames, Story C...",42.037391,-93.612207,535377150.0,1524 DOUGLAS AVE,4,535377150,1039,114000,70,...,0,168,0,111,0,0,5,2009,WD,Normal

In [6]:
HousePrice1_no_outlier = pd.read_csv("./data/HousePrice1_no_outlier.csv",index_col = [0])

In [ ]:
pd.merge(HousePrice1_no_outlier, HP_geo, )