In [2]:
import os
import pandas as pd
import numpy as np
from datetime import datetime
from scipy import stats
import matplotlib
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

%matplotlib inline
cwd = os.getcwd()
print("Current working directory: {0}".format(cwd))

HousePrice1 = pd.read_csv("HousePrice1.csv")

HousePrice1.head(5)

Current working directory: /Users/chereowang27/NYCDSA/Machine_Learning_I/Machine_Learning_Project/Ames_Housing_ML

,Unnamed: 0,MapRefNo,Prop_Addr,Unnamed: 0.1,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,0,909176150.0,436 HAYWARD AVE,1,909176150,856,126000,30,RL,60.783784,...,0,0,0,166,0,0,3,2010,WD,Normal
1,1,905476230.0,3416 WEST ST,2,905476230,1049,139500,120,RL,42.000000,...,105,0,0,0,0,0,2,2009,WD,Normal
2,2,905476230.0,3416 WEST ST,2,905476230,1049,139500,120,RL,42.000000,...,105,0,0,0,0,0,2,2009,WD,Normal
3,3,911128020.0,320 S 2ND ST,3,911128020,1001,124900,30,C (all),60.000000,...,0,42,86,0,0,0,11,2007,WD,Normal
4,4,535377150.0,1524 DOUGLAS AVE,4,535377150,1039,114000,70,RL,80.000000,...,0,168,0,111,0,0,5,2009,WD,Normal

In [12]:
import time
from geopy.geocoders import Nominatim
locator = Nominatim(user_agent="hi")
# location = locator.geocode('3416 WEST ST' + ', Ames, IA')

HP1 = HousePrice1[:500]
HP2 = HousePrice1[500:1000]
HP3 = HousePrice1[1000:1500]
HP4 = HousePrice1[1500:2000]
HP5 = HousePrice1[2000:]

In [28]:
HP1['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP1['Prop_Addr']]

<ipython-input-28-ef6aeb00de5b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HP1['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \

In [29]:
 HP1.iloc[0,81]

Location(436, Hayward Avenue, Campustown, Ames, Story County, Iowa, 50014, United States, (42.01856448979592, -93.65161918367347, 0.0))

In [14]:
HP2['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP2['Prop_Addr']]

<ipython-input-14-1a22702eeb5e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HP2['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \

In [27]:
HP2.iloc[0,81]

Location(510, Luther Drive, Broadmoor, Ames, Story County, Iowa, 50010, United States, (42.04818346460969, -93.61800109327203, 0.0))

In [16]:
HP3['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP3['Prop_Addr']]

<ipython-input-16-ff755e34fe09>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HP3['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \

In [17]:
HP3.iloc[0,81]

Location(3817, Westlawn Drive, Bloomington Heights, Ames, Story County, Iowa, 50010, United States, (42.05868119250007, -93.64258983323604, 0.0))

In [18]:
HP4['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP4['Prop_Addr']]

<ipython-input-18-dc33d13a36e8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HP4['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \

In [19]:
HP4.head()

,Unnamed: 0,MapRefNo,Prop_Addr,Unnamed: 0.1,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,Geo_Addr
1500,1500,902405100.0,604 CARROLL AVE,476,902405100,1869,124900,50,RM,98.000000,...,244,0,0,0,0,9,2009,WD,Normal,"(604, Carroll Avenue, Sunrise, Ames, Story Cou..."
1501,1501,534251280.0,2117 NORTHWESTERN AVE,477,534251280,1632,173000,60,RL,77.622995,...,0,0,0,0,0,7,2008,WD,Normal,"(2117, Northwestern Avenue, Ames, Story County..."
1502,1502,533205060.0,2838 BUCKINGHAM CT,478,533205060,1488,260000,120,FV,25.000000,...,0,0,0,0,0,3,2010,WD,Normal,"(2838, Buckingham Court, Somerset, Ames, Story..."
1503,1503,907405130.0,827 MILLER AVE,479,907405130,1337,185000,20,RL,65.000000,...,0,0,0,0,0,10,2007,WD,Normal,"(827, Miller Avenue, Longview, Ames, Story Cou..."
1504,1504,924100050.0,3418 JEWEL DR,480,924100050,1479,161000,50,RL,68.000000,...,280,0,0,0,0,4,2010,WD,Normal,"(Jewel Drive, Ames, Story County, Iowa, 50010,..."

In [57]:
HP5_geoloc = [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP5['Prop_Addr']]
pd.DataFrame([(loc.address, loc.latitude, loc.longitude) if loc != None else None \
              for loc in HP5_geoloc], 
             columns = ['address', 'latitude', 'longitude'])

                                               address   latitude  longitude
0    4003, Westlawn Drive, Bloomington Heights, Ame...  42.061103 -93.641526
1    3210, Foxley Drive, Northridge Heights, Ames, ...  42.058664 -93.655091
2    3917, Viola Mae Avenue, Ames, Story County, Io...  41.987241 -93.603924
3    1020, 10th Street, Ames, Story County, Iowa, 5...  42.031185 -93.623865
4    500, Garden Road, Ames, Story County, Iowa, 50...  41.989900 -93.605575
..                                                 ...        ...        ...
619  1021, Ridgewood Avenue, Ridgewood, Ames, Story...  42.032102 -93.626373
620  3619, Mary Circle, Ames, Story County, Iowa, 5...  42.027669 -93.666138
621  2140, Sunset Drive, Richardson Court, Ames, St...  42.020129 -93.643832
622  5319, Clemens Boulevard, Bentwood, Ames, Story...  42.016802 -93.689748
623  1025, Vermont Court, Valley East, Ontario, Ame...  42.031579 -93.682232

[624 rows x 3 columns]

In [61]:
pd.DataFrame([(loc.address, loc.latitude, loc.longitude)for loc in HP5_geoloc], \
             columns = ['address', 'latitude', 'longitude'])

AttributeError: 'NoneType' object has no attribute 'address'

In [22]:
HP5.head()

,Unnamed: 0,MapRefNo,Prop_Addr,Unnamed: 0.1,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,Geo_Addr
2000,2000,528240040.0,4003 WESTLAWN DR,151,528240040,1456,176000,60,RL,51.000000,...,0,0,0,0,0,7,2008,WD,Normal,"(4003, Westlawn Drive, Bloomington Heights, Am..."
2001,2001,528178090.0,3210 FOXLEY DR,152,528178090,2690,370000,60,RL,112.000000,...,0,0,0,0,0,7,2008,WD,Normal,"(3210, Foxley Drive, Northridge Heights, Ames,..."
2002,2002,923277080.0,3917 VIOLA MAE AVE,153,923277080,845,134500,20,RL,60.000000,...,0,0,0,0,0,7,2008,WD,Normal,"(3917, Viola Mae Avenue, Ames, Story County, I..."
2003,2003,903235010.0,1020 10TH ST,154,903235010,1362,128000,70,RM,60.000000,...,84,0,0,0,0,6,2008,WD,Normal,"(1020, 10th Street, Ames, Story County, Iowa, ..."
2004,2004,923275010.0,500 GARDEN RD,155,923275010,1178,135000,20,RL,77.234375,...,0,0,88,0,0,6,2007,WD,Normal,"(500, Garden Road, Ames, Story County, Iowa, 5..."

In [30]:
HousePrice2 = pd.concat([HP1, HP2, HP3, HP4, HP5])

HousePrice2['Geo_Addr'] =

0       (436, Hayward Avenue, Campustown, Ames, Story ...
1       (3416, West Street, Union Drive, Ames, Story C...
2       (3416, West Street, Union Drive, Ames, Story C...
3       (320, South 2nd Street, Ames, Story County, Io...
4       (1524, Douglas Avenue, Broadmoor, Ames, Story ...
                              ...
2619    (1021, Ridgewood Avenue, Ridgewood, Ames, Stor...
2620    (3619, Mary Circle, Ames, Story County, Iowa, ...
2621    (2140, Sunset Drive, Richardson Court, Ames, S...
2622    (5319, Clemens Boulevard, Bentwood, Ames, Stor...
2623    (1025, Vermont Court, Valley East, Ontario, Am...
Name: Geo_Addr, Length: 2624, dtype: object

In [33]:
HousePrice2.iloc[0,81].latitude

42.01856448979592