In [75]:
import os
import pandas as pd
import numpy as np
from datetime import datetime
from scipy import stats
import matplotlib
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

%matplotlib inline
cwd = os.getcwd()
print("Current working directory: {0}".format(cwd))

HousePrice1 = pd.read_csv("HousePrice1.csv")

HousePrice1.head(5)

Current working directory: /Users/chereowang27/NYCDSA/Machine_Learning_I/Machine_Learning_Project/Ames_Housing_ML

,Unnamed: 0,MapRefNo,Prop_Addr,Unnamed: 0.1,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,0,909176150.0,436 HAYWARD AVE,1,909176150,856,126000,30,RL,60.783784,...,0,0,0,166,0,0,3,2010,WD,Normal
1,1,905476230.0,3416 WEST ST,2,905476230,1049,139500,120,RL,42.000000,...,105,0,0,0,0,0,2,2009,WD,Normal
2,2,905476230.0,3416 WEST ST,2,905476230,1049,139500,120,RL,42.000000,...,105,0,0,0,0,0,2,2009,WD,Normal
3,3,911128020.0,320 S 2ND ST,3,911128020,1001,124900,30,C (all),60.000000,...,0,42,86,0,0,0,11,2007,WD,Normal
4,4,535377150.0,1524 DOUGLAS AVE,4,535377150,1039,114000,70,RL,80.000000,...,0,168,0,111,0,0,5,2009,WD,Normal

In [96]:
HousePrice1.shape

(2624, 81)

In [109]:
import time
from geopy.geocoders import Nominatim
locator = Nominatim(user_agent="hi")
# location = locator.geocode('3416 WEST ST' + ', Ames, IA')

HP1 = HousePrice1[:500]
HP2 = HousePrice1[500:1000]
HP3 = HousePrice1[1000:1500]
HP4 = HousePrice1[1500:2000]
HP5 = HousePrice1[2000:]

In [110]:
HP1_geoloc= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP1['Prop_Addr']]
HP1 = pd.DataFrame([(loc.address, loc.latitude, loc.longitude) if loc != None else None 
           for loc in HP1_geoloc], columns = ['address', 'latitude', 'longitude'])
HP1.to_csv("./data/HP1.csv")

In [97]:
HP1.shape

(500, 81)

In [100]:
HP2_geoloc= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP2['Prop_Addr']]
HP2 = pd.DataFrame([(loc.address, loc.latitude, loc.longitude) if loc != None else None 
           for loc in HP2_geoloc], columns = ['address', 'latitude', 'longitude'])
HP2

                                               address   latitude  longitude
0    510, Luther Drive, Broadmoor, Ames, Story Coun...  42.048183 -93.618001
1    3108, Sycamore Road, Northridge Parkway, Ames,...  42.049504 -93.653118
2                                                 None        NaN        NaN
3    428, Jewel Drive, Ames, Story County, Iowa, 50...  41.993176 -93.606233
4    1400, Burnett Avenue, Ames, Story County, Iowa...  42.035826 -93.615429
..                                                 ...        ...        ...
495  1724, Meadowlane Avenue, Gunderland Heights, A...  42.039667 -93.604127
496  719, Garnet Drive, Ames, Story County, Iowa, 5...  41.991708 -93.601817
497  2412, Westwind Drive, Bloomington Heights West...  42.062423 -93.641790
498  5407, Schubert Street, Bentwood, Ames, Story C...  42.022236 -93.692055
499  2809, Bristol Drive, Somerset, Ames, Story Cou...  42.047451 -93.647635

[500 rows x 3 columns]

In [101]:
HP2.shape

(500, 3)

In [91]:
HP2.to_csv("./data/HP2.csv")

In [111]:
HP3_geoloc= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP3['Prop_Addr']]
HP3 = pd.DataFrame([(loc.address, loc.latitude, loc.longitude) if loc != None else None 
           for loc in HP3_geoloc], columns = ['address', 'latitude', 'longitude'])

HP3.to_csv("./data/HP3.csv")

In [65]:
HP3.iloc[0,81]

Location(3817, Westlawn Drive, Bloomington Heights, Ames, Story County, Iowa, 50010, United States, (42.05868119250007, -93.64258983323604, 0.0))

In [112]:
HP4_geoloc= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP4['Prop_Addr']]
HP4 = pd.DataFrame([(loc.address, loc.latitude, loc.longitude) if loc != None else None 
           for loc in HP4_geoloc], columns = ['address', 'latitude', 'longitude'])
HP4.to_csv("./data/HP4.csv")

In [102]:
HP5_geoloc = [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP5['Prop_Addr']]
HP5 = pd.DataFrame([(loc.address, loc.latitude, loc.longitude) if loc != None else None 
           for loc in HP5_geoloc], columns = ['address', 'latitude', 'longitude'])
HP5.to_csv("./data/HP5.csv")

In [108]:
HP5.shape

(624, 3)

,Unnamed: 0,MapRefNo,Prop_Addr,Unnamed: 0.1,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,...,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,address,latitude,longitude
0,0.0,909176150.0,436 HAYWARD AVE,1.0,909176150.0,856.0,126000.0,30.0,RL,60.783784,...,166.0,0.0,0.0,3.0,2010.0,WD,Normal,NaN,NaN,NaN
1,1.0,905476230.0,3416 WEST ST,2.0,905476230.0,1049.0,139500.0,120.0,RL,42.000000,...,0.0,0.0,0.0,2.0,2009.0,WD,Normal,NaN,NaN,NaN
2,2.0,905476230.0,3416 WEST ST,2.0,905476230.0,1049.0,139500.0,120.0,RL,42.000000,...,0.0,0.0,0.0,2.0,2009.0,WD,Normal,NaN,NaN,NaN
3,3.0,911128020.0,320 S 2ND ST,3.0,911128020.0,1001.0,124900.0,30.0,C (all),60.000000,...,0.0,0.0,0.0,11.0,2007.0,WD,Normal,NaN,NaN,NaN
4,4.0,535377150.0,1524 DOUGLAS AVE,4.0,535377150.0,1039.0,114000.0,70.0,RL,80.000000,...,111.0,0.0,0.0,5.0,2009.0,WD,Normal,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995.0,907125120.0,5423 NORRIS ST,146.0,907125120.0,990.0,126000.0,20.0,RL,65.000000,...,0.0,0.0,0.0,4.0,2007.0,WD,Normal,NaN,NaN,NaN
1996,1996.0,903457040.0,1212 N 2ND ST,147.0,903457040.0,2180.0,161000.0,50.0,RM,60.000000,...,0.0,0.0,0.0,5.0,2007.0,WD,Normal,NaN,NaN,NaN
1997,1997.0,902325160.0,828 BURNETT AVE,148.0,902325160.0,1440.0,79000.0,50.0,RM,63.000000,...,0.0,0.0,0.0,4.0,2006.0,WD,Normal,NaN,NaN,NaN
1998,1998.0,528235050.0,3915 BRICKMAN AVE,149.0,528235050.0,1509.0,183200.0,60.0,RL,77.622995,...,0.0,0.0,0.0,6.0,2006.0,WD,Normal,NaN,NaN,NaN
1999,1999.0,528478040.0,2413 KINGSTON DR,150.0,528478040.0,1958.0,250000.0,60.0,FV,85.000000,...,0.0,0.0,0.0,7.0,2008.0,WD,Normal,NaN,NaN,NaN

In [74]:
HousePrice2.shape

(2624, 82)