In [4]:
import os
import pandas as pd
import numpy as np
from datetime import datetime
from scipy import stats
import matplotlib
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

%matplotlib inline
cwd = os.getcwd()
print("Current working directory: {0}".format(cwd))

HousePrice1 = pd.read_csv("HousePrice1.csv")

HousePrice1.head(5)

Current working directory: /Users/chereowang27/NYCDSA/Machine_Learning_I/Machine_Learning_Project/Ames_Housing_ML

,Unnamed: 0,MapRefNo,Prop_Addr,Unnamed: 0.1,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,0,909176150.0,436 HAYWARD AVE,1,909176150,856,126000,30,RL,60.783784,...,0,0,0,166,0,0,3,2010,WD,Normal
1,1,905476230.0,3416 WEST ST,2,905476230,1049,139500,120,RL,42.000000,...,105,0,0,0,0,0,2,2009,WD,Normal
2,2,905476230.0,3416 WEST ST,2,905476230,1049,139500,120,RL,42.000000,...,105,0,0,0,0,0,2,2009,WD,Normal
3,3,911128020.0,320 S 2ND ST,3,911128020,1001,124900,30,C (all),60.000000,...,0,42,86,0,0,0,11,2007,WD,Normal
4,4,535377150.0,1524 DOUGLAS AVE,4,535377150,1039,114000,70,RL,80.000000,...,0,168,0,111,0,0,5,2009,WD,Normal

In [38]:
import time
from geopy.geocoders import Nominatim
locator = Nominatim(user_agent="hi")
# location = locator.geocode('3416 WEST ST' + ', Ames, IA')

HP1 = HousePrice1[:500]
HP2 = HousePrice1[500:1000]
HP3 = HousePrice1[1000:1500]
HP4 = HousePrice1[1500:2000]
HP5 = HousePrice1[2000:]

In [50]:
HP1['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP1['Prop_Addr']]
HP1.to_csv("./data/HP1.csv")

<ipython-input-50-233fe2ae1a71>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HP1['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \

In [56]:
HP2['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP2['Prop_Addr']]
HP2.to_csv("./data/HP2.csv")

<ipython-input-56-d4bcd6bf573c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HP2['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \

In [58]:
HP2.iloc[0,81]

Location(510, Luther Drive, Broadmoor, Ames, Story County, Iowa, 50010, United States, (42.04818346460969, -93.61800109327203, 0.0))

In [60]:
HP3['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP3['Prop_Addr']]
HP3.to_csv("./data/HP3.csv")

<ipython-input-60-ff755e34fe09>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HP3['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \

In [65]:
HP3.iloc[0,81]

Location(3817, Westlawn Drive, Bloomington Heights, Ames, Story County, Iowa, 50010, United States, (42.05868119250007, -93.64258983323604, 0.0))

In [66]:
HP4['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP4['Prop_Addr']]

HP4.to_csv("./data/HP4.csv")

<ipython-input-66-c896b1fc4def>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HP4['Geo_Addr']= [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \

In [69]:
HP5['Geo_Addr'] = [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \
for addr in HP5['Prop_Addr']]
HP5.to_csv("./data/HP5.csv")

<ipython-input-69-150c3f6f9308>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HP5['Geo_Addr'] = [locator.geocode(addr+', Ames, IA') if type(addr)==str else None \

In [72]:
HP5.head()

,Unnamed: 0,MapRefNo,Prop_Addr,Unnamed: 0.1,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,Geo_Addr
2000,2000,528240040.0,4003 WESTLAWN DR,151,528240040,1456,176000,60,RL,51.000000,...,0,0,0,0,0,7,2008,WD,Normal,"(4003, Westlawn Drive, Bloomington Heights, Am..."
2001,2001,528178090.0,3210 FOXLEY DR,152,528178090,2690,370000,60,RL,112.000000,...,0,0,0,0,0,7,2008,WD,Normal,"(3210, Foxley Drive, Northridge Heights, Ames,..."
2002,2002,923277080.0,3917 VIOLA MAE AVE,153,923277080,845,134500,20,RL,60.000000,...,0,0,0,0,0,7,2008,WD,Normal,"(3917, Viola Mae Avenue, Ames, Story County, I..."
2003,2003,903235010.0,1020 10TH ST,154,903235010,1362,128000,70,RM,60.000000,...,84,0,0,0,0,6,2008,WD,Normal,"(1020, 10th Street, Ames, Story County, Iowa, ..."
2004,2004,923275010.0,500 GARDEN RD,155,923275010,1178,135000,20,RL,77.234375,...,0,0,88,0,0,6,2007,WD,Normal,"(500, Garden Road, Ames, Story County, Iowa, 5..."

In [73]:
HousePrice2 = pd.concat([HP1, HP2, HP3, HP4, HP5])
HousePrice2.to_csv("./data/HousePrice2.csv")
HousePrice2['Geo_Addr']

0       (436, Hayward Avenue, Campustown, Ames, Story ...
1       (3416, West Street, Union Drive, Ames, Story C...
2       (3416, West Street, Union Drive, Ames, Story C...
3       (320, South 2nd Street, Ames, Story County, Io...
4       (1524, Douglas Avenue, Broadmoor, Ames, Story ...
                              ...
2619    (1021, Ridgewood Avenue, Ridgewood, Ames, Stor...
2620    (3619, Mary Circle, Ames, Story County, Iowa, ...
2621    (2140, Sunset Drive, Richardson Court, Ames, S...
2622    (5319, Clemens Boulevard, Bentwood, Ames, Stor...
2623    (1025, Vermont Court, Valley East, Ontario, Am...
Name: Geo_Addr, Length: 2624, dtype: object

In [74]:
HousePrice2.shape

(2624, 82)